<template>
  <v-app-bar color="primary" app clipped-left dark>
    <v-toolbar-title>
      <router-link class="brand" to="/">
        ТЕСТОВОЕ ЗАДАНИЕ
      </router-link>
    </v-toolbar-title>
  </v-app-bar>
</template>

<style>
.brand {
  min-width: 300em;
  color: white !important;
  text-decoration: none;
}

.brand:hover {
  cursor: pointer;
}
</style>

<script>
export default {
  name: "headers"
};
</script>
