<template>
  <v-navigation-drawer
    v-model="drawer"
    permanent
    color="gray lighten-4"
    app
    clipped
  >
    <v-list dense class="grey lighten-4" style="height: 100%;">
      <template v-for="item in items">
        <v-list-item :key="item.title" v-on:click="click_item_menu(item)">
          <v-list-item-action>
            <v-icon style="width: 24px">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="black--text">
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<style></style>

<script>
export default {
  name: "mains",

  data: () => ({
    drawer: null,
    items: [
      { title: "Задание №1", icon: "mdi-numeric-1-box", route: "/task1" },
      { title: "Задание №2", icon: "mdi-numeric-2-box", route: "/task2" },
      { title: "Задание №3", icon: "mdi-numeric-3-box", route: "/task3" },
      { divider: true }
    ]
  }),
  methods: {
    click_item_menu: function(event) {
      this.$router.push(event.route);
    }
  }
};
</script>
