<template>
  <div>
    <Content />
  </div>
</template>

<style></style>

<script>
import Content from "../components/layout/Content";

export default {
  name: "MainPage",
  components: {
    Content
  }
};
</script>
