<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="coursesDataFormated"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      class="elevation-1"
      @page-count="pageCount = $event"
      dense
    >
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.date }}</td>
        </tr>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination v-model="page" :length="pageCount"></v-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: "Task3",
  computed: {
    coursesDataFormated() {
      let result = this.coursesData;
      this.coursesData.forEach(course => {
        let dd = course.date.substr(0, 2);
        let mm = course.date.substr(3, 2);
        let yyyy = course.date.substr(6, 4);
        course.dateFormated = yyyy + "-" + mm + "-" + dd;
      });
      return result;
    }
  },
  data() {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 3,
      headers: [
        {
          text: "Наименование",
          align: "start",
          sortable: "true",
          value: "name"
        },
        {
          text: "дата",
          align: "start",
          sortable: "false",
          value: "dateFormated"
        }
      ],
      coursesData: [
        {
          name: "Противодействие коррупции",
          date: "28.02.2018"
        },
        {
          name: "Обучение JS. Часть 1",
          date: "27.02.2018"
        },
        {
          name: "Рекурсивные запросы MS SQL Server 2012",
          date: "02.02.2019"
        },
        {
          name: "Управление IT-инфраструктурой (ITSM)",
          date: "11.05.1992"
        },
        {
          name: "2.0 Эффективный менеджмент в организации",
          date: "11.05.1992"
        },
        {
          name: "Подготовка к сертификации SOA (PEOPLECERT Intermediate SOA)",
          date: "28.03.2019"
        },
        {
          name:
            "	Эффективный тайм - менеджмент для специалиста с использованием Microsoft Outlook 2019/2016",
          date: "27.05.2019"
        },
        {
          name:
            "0.9 Эффективный тайм - менеджмент для специалиста с использованием Microsoft Outlook 2019/2016",
          date: "02.02.2019"
        },
        {
          name: "",
          date: "11.05.1992"
        },
        {
          name: "Кибербезопасность 4.0",
          date: "11.05.1992"
        }
      ]
    };
  }
};
</script>

<style scoped></style>
