<template>
  <v-row>
    <v-col cols="12">
      <v-expansion-panels multiple>
        <v-expansion-panel v-for="item in data" :key="item.title">
          <v-expansion-panel-header expand-icon="mdi-menu-down">
            <v-row no-gutters>
              <v-col
                cols="1"
                class="style-title text-dodgerblue text-vertical-center"
              >
                {{ item.title }}
              </v-col>
              <v-col cols="10">
                <div class="style-name">{{ item.name }}</div>
                <span class="style-subname text-dodgerblue">{{
                  item.subname
                }}</span>
              </v-col>
              <v-col cols="1" class="text-green text-vertical-center">
                {{ item.state ? "Просмотрено" : "" }}
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-data-table :headers="headers" :items="item.themes">
              <template v-slot:item="{ item }">
                <tr>
                  <td>{{ item.name }}</td>
                  <td>
                    <v-icon color="green" v-if="item.textStatus"
                      >mdi-checkbox-marked-circle</v-icon
                    >
                  </td>
                  <td class="text-green">
                    {{ item.status ? "Просмотрено" : "" }}
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Task1",
  data() {
    return {
      headers: [
        {
          text: "Тема",
          align: "start",
          sortable: "false",
          value: "name"
        },
        {
          text: "Текст к уроку",
          align: "start",
          sortable: "false",
          value: "textStatus"
        },
        {
          text: "Статус",
          align: "start",
          sortable: "false",
          value: "status"
        }
      ],
      data: [
        {
          title: "Урок 1.",
          name: "Вводный",
          subname: "4 темы, 3 текста",
          state: true,
          themes: [
            {
              name: "1.1 Общая информация об обучающем цикле",
              textStatus: false,
              status: true
            },
            {
              name: "1.2 Жанры видео. Учебное видео",
              textStatus: true,
              status: true
            },
            {
              name: "1.3 10 способов сделать видеоурок интереснее",
              textStatus: true,
              status: true
            },
            {
              name: "1.3 Целевая аудитория",
              textStatus: true,
              status: true
            }
          ]
        },
        {
          title: "Урок 2.",
          name: "Написание сценария",
          subname: "6 тем, 4 текста",
          state: false,
          themes: [
            {
              name: "2.1 Порядок разработки сценария. Сценарный план",
              textStatus: true,
              status: true
            }
          ]
        }
      ]
    };
  }
};
</script>

<style scoped>
.text-green {
  color: green;
}

.text-dodgerblue {
  color: dodgerblue;
}

.text-vertical-center {
  min-height: 50px;
  line-height: 50px;
}

.style-title {
  font-size: x-large;
}

.style-name {
  font-weight: bold;
  font-size: large;
}
.style-subname {
  font-size: x-small;
}
</style>
