<template>
  <v-app>
    <Header />
    <Navigation />
    <v-content>
      <v-container>
        <router-view />
      </v-container>
    </v-content>
    <Footer />
  </v-app>
</template>

<script>
import Header from "./components/layout/Header";
import Footer from "./components/layout/Footer";
import Navigation from "./components/layout/Navigation";

export default {
  name: "App",

  components: {
    Header,
    Navigation,
    Footer
  }
};
</script>
